a{
    text-decoration: none;

}
a:hover{
    color: black;

}
body{
    background-color:#87CEEB;
}
.container {
    text-align: center;
    margin: auto;
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.button{
    background-color: darkcyan;
    border: none;
    color: black;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}
.button:hover{
    background-color: darkslategrey;

}